#title {
    background-color: rgb(192, 28, 28);
    text-align: center;
    font-family: "Verdana", "Times New Roman", sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: black;
}

#image {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.head {
    font-family: "Verdana", "Times New Roman", sans-serif;
    font-size: 18px;
}